body {
  background-image:url('micro_carbon.png');
}

h1 {
  text-align: center;
}

#main-div {
  position: absolute;
  width: 825px;
  height: 1000px;
  background-image:url('hexellence.png');
}

#hexes {
  position: absolute;
  width: 800px;
  height: 900px;
  background-image:url('i/hex-bg.png');
  background-repeat: no-repeat;
}

.side-dot {
  visibility: hidden;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image:url('i/circle-red.png');
}

#side-1 {
  left: 148px;
  top: 269px;
}

#side-2 {
  left: 23px;
  top: 202px;
}

#side-3 {
  left: 23px;
  top: 68px;
}

#side-4 {
  left: 148px;
 top: 0px;
}

#side-5 {
  left: 267px;
  top: 68px;
}

#side-6 {
  left: 267px;
  top: 202px;
}

.army {
  width: 310px;
  height: 270px;
  position: absolute;
}

#defender {
  left: 245px;
  top: 250px;
}

#attacker-1 {
  left: 245px;
  top: 0px;
}

#attacker-2 {
  left: 485px;
  top: 135px;
}

#attacker-3 {
  left: 485px;
  top: 410px;
}

#attacker-4 {
  left: 245px;
  top: 545px;
}

#attacker-5 {
  left: 5px;
  top: 410px;
}

#attacker-6 {
  left: 5px;
  top: 135px;
}

.troops {
  position: absolute;
  top: 75px;
}

#misc-div {
  position: absolute;
  width: 100%;
  top: 750px;
  text-align: center;
  float: left;
}

#misc-left {
  float: left;
}

#misc-right {
  float: right;
}

#results-div {
  position: absolute;
  top: 750px;
  left: 420px;
  float: left;
}

#logo-div {
  position: absolute;
  left: 25px;
  top: 25px;
}

#button-div {
  z-index: 99;
}

/* -------- */





#wrapper-div {
  visibility: hidden;
  width: 775px;
  height: 460px;
  margin: 25px auto 0 auto;
  padding: 25px;
  background-image:url('hexellence.png');
}

#inner-wrapper-div {
  margin-top: 20px;
}

#landbattle-div {
  width: 50%;
  float: left;
}

.results, .col-width {
  width: 100px;
}

.float-left { float: left; }
.float-right { float: right; }

.fieldset-auto-width {
  display: inline-block;
  width: 350px;
  height: 200px;
}

#fieldset-global {
  float: left;
  margin-left: 10px;
  background-image:url('light_toast.png');
}

#fieldset-results {
  float: right;
  margin-left: 10px;
  background-image:url('light_toast.png');
}

.calc-label {
  width: 125px;
  text-align: right;
}

.mod-table {
  margin-left: 0px;
}

.mod-label {
  font-size: small;
}

input {
    font-size: x-small;
}

input[type="submit"] {
  font-size: large;
}

.hex-header {
  position: absolute;
  left: 120px;
  top: 40px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.na {
}

.footnote {
  font-style: italic;
  font-size: small;
}

a:link {color: #ab2c2c; font-weight: bold; text-decoration: none;}
a:visited {color: #ab2c2c; text-decoration: none;}
a:hover {color: #ffc000; text-decoration: none;}
a:focus {color: #ab2c2c; text-decoration: none;}
a:active {color: #ffd040; text-decoration: none;}
