body {
  background-image:url('hexellence.png');
}

h1 {
  text-align: center;
}

#wrapper-div {
  width: 775px;
  height: 250px;
  margin: 0 auto 0 auto;
}

#landbattle-div {
  width: 50%;
  float: left;
}

#results-div {
  width: 50%;
  float: right;
}

#misc-div {
 width: 100%;
 text-align: center;
 float: left;
 margin-top: 5px;
}

.fieldset-auto-width {
  display: inline-block;
  width: 350px;px;
}

#fieldset-troops {
  height: 100%;
  float: left;
  margin-left: 10px;
  background-image:url('light_toast.png');
}

#fieldset-results {
  height: 100%;
  float: right;
  margin-left: 10px;
  background-image:url('light_toast.png');
}

.calc-label {
  width: 125px;
  text-align: right;
}

.align-right {
  width: 100px;
  text-align: right;
}

.align-center {
  text-align: center;
}

.na {
}

.footnote {
  font-style: italic;
  font-size: small;
  text-align: center;
}
